line-bot-sdk
gunicorn
flaskaiohttp==3.8.0
aiosignal==1.2.0
astroid==2.5.1
async-timeout==4.0.0
attrs==21.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
cryptography==35.0.0
Deprecated==1.2.13
et-xmlfile==1.1.0
Flask==2.0.2
frozenlist==1.2.0
future==0.18.2
gunicorn==20.1.0
idna==3.3
isort==5.7.0
itsdangerous==2.0.1
Jinja2==3.0.3
jwcrypto==1.0
lazy-object-proxy==1.5.2
line-bot-sdk==2.0.1
lxml==4.6.3
MarkupSafe==2.0.1
mccabe==0.6.1
multidict==5.2.0
openpyxl==3.0.9
progressbar2==3.55.0
pycparser==2.20
pylint==2.7.2
python-docx==0.8.11
python-utils==2.5.6
requests==2.26.0
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.12.1
yarl==1.7.2
